.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header.listening {
  animation: App-header-pulse infinite 1s linear;
  font-size: large;
}

.App-header.listening h2 {
  display: none;
}

.App-intro {
  font-size: large;
}

.dropzone-rejected {
  color: red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-header-pulse {
  0% { background-color: black }
  50% { background-color: blue }
  100% { background-color: black }
}

.command-table {
  /*color: red;*/
}

