/* set width based on height*/
.svg-canvas-wide {
    height: 60vh;
    width: 100vh;
}

/* set height based on width*/
.svg-canvas-tall {
    width: 100vw;
    height: 60vw;
}

.svg-canvas {
    border: black;
    border-width: 1px;
    border-style: solid;
}

.svg-canvas path {
    stroke: black;
}

.svg-canvas circle {
    stroke: black;
    fill: white;
    cursor: pointer;
    pointer-events: visible;
}
.svg-canvas rect {
    stroke: black;
    fill: white;
    cursor: pointer;
    pointer-events: visible;
}
.svg-canvas rect.selection-rect {
    fill: aliceblue;
}

.node.node-selected {
    stroke: red;
}

.node.node-moving {
    fill: yellow;
}

.node.target-hover {
    fill: blue;
}

.node.source {
    fill: blue;
}

.node.error-hover {
    fill: red;
}

.node-label {
    cursor: pointer;
}

.node.node-shortest {
    fill: black;
}

.menu-item:hover rect{
    fill: blue;
}

text {
    cursor: pointer;
}

@keyframes expand {
    from {opacity: 0.01}
    to {opacity: 1}
}
.menu-item {
    animation-name: expand;
    animation-duration: 2s;
}
